@use 'variables' as v;
@use 'mixins' as m; 
@use 'sass:color';


body {
  font-family: v.$font-stack;
  color: v.$text-color;
  background-color: v.$background-color;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: v.$primary-color;
}

a {
  color: v.$primary-color;
  text-decoration: none;
  @include m.transition(color);

  &:hover {
    color: color.adjust(v.$primary-color, $lightness: -10%);
  }
}

button {
  background-color: v.$primary-color;
  color: v.$white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  @include m.transition(background-color);

  &:hover {
    background-color: color.adjust(v.$primary-color, $lightness: -10%);

  }
}