@use 'variables' as *;
@use 'mixins' as mix;

.card {
  @include mix.card-style;
  
    .card-title {
      color: $secondary-color;
      font-weight: bold;
    }
  
    .card-text {
      color: $text-color;
    }
  }