@use 'variables' as v;
@use 'mixins' as m;

#footer {
  background-color: v.$secondary-color;
  color: v.$white;
  padding: v.$padding * 2 0;

  .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 v.$padding;
  }

  .footerNav {
      a {
          color: v.$white;
          text-decoration: none;
          margin: 0 10px;
          @include m.transition(color);

          &:hover {
              color: v.$primary-color;
          }
      }
  }
}
