@use 'variables' as v;
@use 'mixins' as m; 
@use 'sass:color';


header {
    background-color: v.$primary-color;

  color: v.$white;
  padding: v.$padding;
  text-align: center;

  nav {
      @include m.flex-center;

      a {
          color: v.$white;
          margin: 0 15px;
          @include m.transition(color);

          &:hover {
            color: v.$white;
            background-color: color.adjust(v.$primary-color, $lightness: -10%);
          }
      }
  }

  h1 {
      margin-bottom: v.$margin;
  }
}