@mixin card-style {
    border: none;
    border-radius: 15px;
    box-shadow: $shadow;
    transition: $transition;
  
    &:hover {
      box-shadow: $shadow-hover;
      transform: translateY(-5px);
    }
  }
  
  @mixin button-style {
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    color: $white;
    transition: $transition;
  
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }